### Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
# 1.string
str1="data science course"

In [2]:
# list
list1=[1,2,3,(45,67),True]

In [3]:
# float
float1=23.45

In [4]:
# tuple
tuple1=(1,356.70)

### Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [5]:
var1 = ''
print(type(var1))

<class 'str'>

In [6]:
var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

In [8]:
var4 = 1.
print(type(var4))

<class 'float'>

### Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

## / - It perform division and gives answer in float
## % - It returns remainder of the given value
## // - It returns the quotient of the given value and it is in the form of int datatype
## ** - It indicates the power or exponational function

## for example

In [9]:
22/4

5.5

In [10]:
33%4

1

In [11]:
44//4

11

In [12]:
2**3

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [13]:
l1=[1,2,34.5,True,[1,5,7],(34,67,89),23+4j,False,'data','science']

In [14]:
for i in l1:
    print(i,":",type(i))

1 : <class 'int'>
2 : <class 'int'>
34.5 : <class 'float'>
True : <class 'bool'>
[1, 5, 7] : <class 'list'>
(34, 67, 89) : <class 'tuple'>
(23+4j) : <class 'complex'>
False : <class 'bool'>
data : <class 'str'>
science : <class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [18]:
a=52
b=2
count=0
if(a%b==0):
    print('divisble')
    
    while(a%b==0):
        count+=1
        a=a//b
    print(count)
else:
    print('not completely divisible')

divisble
2

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [20]:
l1=[3,4,5,78,12,34,56,78,90,12,54,11,33,54,28,35,22,9032,101,108,51,45,87,27,9]

In [21]:
for i in l1:
    if(i%3==0):
        print(i,'divisible')
    else:
        print(i,'not divisible')

3 divisible
4 not divisible
5 not divisible
78 divisible
12 divisible
34 not divisible
56 not divisible
78 divisible
90 divisible
12 divisible
54 divisible
11 not divisible
33 divisible
54 divisible
28 not divisible
35 not divisible
22 not divisible
9032 not divisible
101 not divisible
108 divisible
51 divisible
45 divisible
87 divisible
27 divisible
9 divisible

### Q7. What do you understand about mutable and immutable data types? Give examples for both showin this property.

#### mutable : we can modify the number on a particular index permantly.eg.list  etc

#### immutable:It can't modify number e.g. string,tuple etc

In [22]:
l1=[23,4567,50,11]
l1[1]=18

In [23]:
print(l1)

[23, 18, 50, 11]

In [24]:
st1='datascience'
st1[4]='v'

TypeError: 'str' object does not support item assignment